

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

:root{
    --border-radius: 15px;
    --border-radius-1: 0 0 15px 15px;
    --shadow: 0 0 10px rgba(0,0,0,0.2);
    --bg-color-right: linear-gradient(to right, #2f80ff, #3ccbff);
    --bg-color-left: linear-gradient(to left, #2f80ff, #3ccbff);
}

body{
    background: linear-gradient(to right, #2f80ff, #3ccbff);
    background-attachment: fixed;
}

a{
    text-decoration: none;
}

#header #check, label{
    display: none;
}

/* Navigation Bar --------------------------------------------- */
#header header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5% 3%;
    margin: 1%;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#header .logo{
    font-size: 2em;
    font-variant: small-caps;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
}

#header ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

#header li{
    list-style-type: none;
}

#header li a{
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
}

/* Navigation Bar --------------------------------------------- */

/* home-------------------------------------------------------- */

#home{
    height: 89vh;
    margin: 1.5% 3% 3%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

#home .home-left{
    width: 55%;
    height: 90%;
    padding: 8% 4% 0%;
}

.home-left h1{
    color: #fff;
}

.home-left h1 span{
    font-variant: small-caps;
}

.home-left h2{
    font-size: 3em;
    color: #fff;
    display: inline-block;
}

.home-left h2 span{
    font-variant: small-caps;
    color: transparent;
    -webkit-text-stroke:.8px #fff;
    position: relative;
    
}

.home-left h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #fff;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text{
    0%,100%{
        width: 0;
    }
    50%, 80%{
        width: 100%;
    }
}

.home-left p{
    max-width: 95%;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 2%;
    color: #fff;
}

.home-left .btn-1{
    padding: 1.5% 4%;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: var(--border-radius);
    border: none;
    margin-bottom: 4%;
    position: relative;
}

.home-left .btn-1:hover{
    background: #2f80ff;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: scale(1.1);
}


.home-left .social-media{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.social-media i{
    font-size: 1.5em;
    color: #fff;
}

.social-media i:hover{
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#home .home-right{
    width: 40%;
    height: 90%;
    position: relative;
}

.home-right img{
    position: absolute;
    top: -25%;
    left: -70%;
    width: 300%;
    height: 150%;
    rotate: 330deg;
    filter: drop-shadow(0 0 10px #00000056);
}

/* home--------------------------------------------------------- */

/* About-------------------------------------------------------- */

#about{
    height: 89vh;
    margin: 1.5% 3% 3%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    position: relative;
    overflow: hidden;
}

#about .about-left{
    position: absolute;
    left: -45%;
    top: 10%;
    transform: rotate(90deg);
    filter: drop-shadow(0 0 10px #00000056);
}

#about .about-right{
    width: 60%;
    float: right;
    height: 65%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 1%;
}

.about-right h1{
    font-size: 3em;
    color: #fff;
}

.about-right p{
    font-weight: 600;
    color: #fff;
    line-height: 250%;
    max-width: 90%;
}

.about-right .btn-2{
    position: absolute;
    left: 12%;
    padding: 1% 3%;
    font-size: 1.1em;
    font-weight: 600;
    border: none;
    border-radius: var(--border-radius);
}

.about-right .btn-2:hover{
    transform: scale(1.1);
    color: #fff;
    background: #2f80ff;
    box-shadow: var(--shadow);
}

.about-right .social-media-1{
    position: absolute;
    left: 35%;
    top: 77%;
    /* border: solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 17%;
}

.about-right .social-media-1 i{
    font-size: 2em;
    margin-left: 2%;
    color: #fff;
}

.about-right .social-media-1 i:hover{
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* About------------------------------------------------------- */

/* Project----------------------------------------------------- */

#project{
    height: 89vh;
    margin: 1.5% 3% 3%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    position: relative;
    overflow: hidden;
}

#project .project-left{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5%;
}

.project-left h1{
    font-size: 3em;
    color: #fff;
}

.project-left p{
    max-width: 85%;
    font-weight: 600;
    color: #fff;
    line-height: 250%;
}

.project-left .btn-3{
    padding: 1% 3%;
    border-radius: var(--border-radius);
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 2%;
    border: none;
}

.project-left .btn-3:hover{
    transform: scale(1.1);
    background: #2f80ff;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.project-left .social-media-2{
    width: 18%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.project-left .social-media-2 i{
    font-size: 2em; 
    color: #fff;
}

.project-left .social-media-2 i:hover{
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#project .project-right{
    position: absolute;
    top: -15%;
    left: 45%;
    transform: rotate(45deg);
}

/* Project------------------------------------------------------ */

/* Section------------------------------------------------------ */

#service{
    height: 89vh;
    margin: 1.5% 3% 3%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    position: relative;
}

/* Section------------------------------------------------------ */