

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

:root{
    --border-radius: 15px;
    --border-radius-1: 0 0 15px 15px;
    --shadow: 0 0 10px rgba(0,0,0,0.2);
    --bg-color-right: linear-gradient(to right, #2f80ff, #3ccbff);
    --bg-color-left: linear-gradient(to left, #2f80ff, #3ccbff);
}

body{
    background: linear-gradient(to right, #2f80ff, #3ccbff);
    background-attachment: fixed;
}

a{
    text-decoration: none;
}

#header #check, label{
    display: none;
}

button{
    color: #2f80ff;
}

i:hover:active{
    color: blue;
}



/* Navigation Bar --------------------------------------------- */
#header header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5% 3%;
    margin: 1%;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: relative;
}

#header .logo{
    font-size: 2em;
    font-variant: small-caps;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
}

#header ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

#header li{
    list-style-type: none;
}

#header li a{
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
}

/* Navigation Bar --------------------------------------------- */

/* home-------------------------------------------------------- */

#home{
    height: 89vh;
    margin: 1.5% 3% 3%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
}

#home .home-head-img{
    display: none;
    position: absolute;
}

#home .home-left{
    width: 55%;
    height: 90%;
    padding: 8% 4% 0%;
}

.home-left h1{
    color: #fff;
}

.home-left h1 span{
    font-variant: small-caps;
}

.home-left h2{
    font-size: 3em;
    color: #fff;
    display: inline-block;
}

.home-left h2 span{
    font-variant: small-caps;
    color: transparent;
    -webkit-text-stroke:.8px #fff;
    position: relative;
    
}

.home-left h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #fff;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 10s linear infinite;
}

@keyframes fill-text{
    0%,100%{
        width: 0;
    }
    50%, 80%{
        width: 100%;
    }
}

.home-left p{
    max-width: 95%;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 2%;
    color: #fff;
}

.home-left .btn-1{
    padding: 1.5% 4%;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: var(--border-radius);
    border: none;
    margin-bottom: 4%;
    position: relative;
}

.home-left .btn-1:hover{
    background: #2f80ff;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: scale(1.1);
}


.home-left .social-media{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.social-media i{
    font-size: 1.5em;
    color: #fff;
}

.social-media i:hover{
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#home .home-right{
    width: 40%;
    height: 90%;
    position: relative;
}

.home-right img{
    position: absolute;
    top: -25%;
    left: -70%;
    width: 300%;
    height: 150%;
    rotate: 330deg;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(129deg) brightness(105%) contrast(100%);
}

/* home--------------------------------------------------------- */

/* About-------------------------------------------------------- */

#about{
    height: 89vh;
    margin: 1.5% 3% 3%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    position: relative;
    overflow: hidden;
}

#about .about-left{
    position: absolute;
    left: -45%;
    top: 10%;
    transform: rotate(90deg);
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(129deg) brightness(105%) contrast(100%);
}

#about .about-right{
    width: 60%;
    float: right;
    height: 65%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 1%;
}

.about-right h1{
    font-size: 3em;
    color: #fff;
}

.about-right p{
    font-weight: 600;
    color: #fff;
    line-height: 250%;
    max-width: 90%;
}

.about-right .btn-2{
    position: absolute;
    left: 12%;
    padding: 1% 3%;
    font-size: 1.1em;
    font-weight: 600;
    border: none;
    border-radius: var(--border-radius);
}

.about-right .btn-2:hover{
    transform: scale(1.1);
    color: #fff;
    background: #2f80ff;
    box-shadow: var(--shadow);
}

.about-right .social-media-1{
    position: absolute;
    left: 35%;
    top: 77%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 17%;
}

.about-right .social-media-1 i{
    font-size: 2em;
    margin-left: 2%;
    color: #fff;
}

.about-right .social-media-1 i:hover{
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* About------------------------------------------------------- */

/* Project----------------------------------------------------- */

#project{
    height: 89vh;
    margin: 1.5% 3% 3%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    position: relative;
    overflow: hidden;
}

#project #check-1{
    display: none;
}

#project .project-left{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5%;
}

.project-left h3{
    font-size: 2em;
    font-variant: small-caps;
    color: #fff;
}

.project-left h1{
    font-size: 3em;
    color: #fff;
}

.project-left p{
    max-width: 85%;
    font-weight: 600;
    color: #fff;
    line-height: 250%;
}

.project-left .btn-3{
    padding: 1% 3%;
    border-radius: var(--border-radius);
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 2%;
    border: none;
}

.project-left .btn-3:hover{
    transform: scale(1.1);
    background: #2f80ff;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.project-left .social-media-2{
    width: 18%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.project-left .social-media-2 i{
    font-size: 2em; 
    color: #fff;
}

.project-left .social-media-2 i:hover{
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#project .project-right{
    position: absolute;
    top: -15%;
    left: 45%;
    transform: rotate(45deg);
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(129deg) brightness(105%) contrast(100%);
}

/* Project------------------------------------------------------ */

/* service------------------------------------------------------ */

#service{
    height: 89vh;
    margin: 1.5% 3% 3%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    position: relative;
    overflow: hidden;
}

#service .service-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    position: absolute;
    z-index: 100;
    translate: 1% 22%;
    font-variant: small-caps;
}

#service .service-content-1{
    display: none;
}

.service-content h1{
    font-size: 3rem;
    color: #fff;
}

.service-content p{
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
}

.service-img{
    width: 40%;
    height: 80%;
    position: absolute;
    top: 10%;
    right: 2%;
    transition: all .1s linear;
}

.service-img:hover{
    scale: 1.010;
    filter: drop-shadow(0 0 10px rgba(0,0,0,.5));
    transition: all .1s linear;
}

#service .service-left{
    translate: -40% 20%;
    rotate: 60deg;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(129deg) brightness(105%) contrast(100%);
}

#service .service-right{
    translate: 75% -165%;
    rotate: 185deg;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(129deg) brightness(105%) contrast(100%);
}
/* service------------------------------------------------------ */

/* Contact------------------------------------------------------ */

#contact{
    height: 89vh;
    margin: 1.5% 3% 3%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#contact h1{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -430%;
    font-size: 3em;
    color: #fff;
}

#contact .contact-left{
    width: 45%;
    height: 80%;
    translate: 0% 10%;
}

.contact-left .details{
    display: flex;
    align-items: center;
    gap: 2%;
    translate: 10% 60%;
    margin: 8% 0;
}

.details a{
    background: #fff;
    color: #2f80ff;
    font-size: 1.2em;
    padding: 3% 3.8%;
    border-radius: 50%;
}

.details a:hover{
    scale: 1.1;
    background: #2f80ff;
    color: #fff;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}


.details h4{
    color: #3ccbff;
    text-decoration: underline;
}

.details p{
    color: #fff;
    font-weight: 600;
}

#contact .contact-right{
    width: 45%;
    height: 80%;
    translate: 0% 10%;
    position: relative;
}

.contact-right .message-box{
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    padding: 10%;
    background: #fff;
    border-radius: var(--border-radius);
}

.message-box h2{
    margin-bottom: 5%;
}

.message-box input{
    width: 100%;
    padding: 3%  3% 3%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #000;
    outline: none;
    background: transparent;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 5%;
}

.message-box textarea{
    width: 100%;
    padding: 2%;
    height: 30%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #000;
    background: transparent;
    margin-bottom: 5%;
}

.message-box .btn-4{
    padding: 1.5% 5%;
    border: none;
    border-radius: var(--border-radius);
    color: #000;
    font-weight: 600;
    font-size: 1.1em;
    background: #33333371;
}

.message-box .btn-4:hover{
    scale: 1.1;
    background: #2f80ff;
    color: #fff;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}


/* Contact------------------------------------------------------ */














@media (max-width:768px){


    /* Header */
    #header nav{
        border: solid;
        width: 50%;
        height: 80vh;
        position: absolute;
        top: 115%;
        left: 0;
        z-index: 10;
        background: #000;
        border-radius: var(--border-radius);
        height: 0%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        transition: all 1s;
        background: rgba(47,128,255,.8);
        border: transparent;
    }

    nav ul{
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }

    nav ul li{
        border-bottom: 1px solid #fff;
        width: 400%;
        text-align: center;
    }

    #check:checked ~ nav{
        height: 800%;
    }

    #header label{
        display: block;
        font-size: 1.5em;
        color: #fff;
    }
    /* Header */


    /* Home */

    #home .home-left{
        position: absolute;
        /* border: solid; */
        padding: 0 0 0 2%;
        top: 10%;
        left: 0;
        width: 70%;
        height: fit-content;
    }

    #home img{
        /* display: none; */
        left: 55%;
    }

    /* Home */

    /* About */

    #about .about-left{
        translate: -50%;
    }

    #about .about-right{
        padding: 0;
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: center;
        translate: 0 20%;
        width: 58%;
        height: 60vh;
        position: relative;
    }

    .about-right .span-1{
        position: absolute;
        top: 70%;
        left: 7%;
    }

    .about-right .btn-2{
        left: 33%;
    }

    .about-right .social-media-1{
        top: 91%;
        width: 30%;
    }

    /* About */


    /* Project */

    #project .project-left{
        width: 80%;
        height: 90%;
        padding: 2%;
    }

    .project-left .social-media-2{
        width: 25%;
    }

    #project .project-right{
        top: 50%;
        left: 50%;
    }

    #project label{
        display: block;
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 1.5em;
        color: #fff;
    }

    #project .gallery{
        position: absolute;
        width: 0;
        height: 80vh;
        top: 0;
        left: 0;
        border-radius: var(--border-radius);
        background: rgba(47,128,255,.7);
        transition: all .8s linear;
        overflow: scroll;
    }

    .gallery img{
        border-radius: var(--border-radius);
        width: 70%;
        translate: 20% 10%;
        filter: drop-shadow(0 0 10px rgba(0,0,0,.5));
    }

    .gallery :nth-child(3){
        height: 40vh;
    }
    .gallery :nth-child(4){
        height: 40vh;
    }

    #check-1:checked ~ .gallery{
        width: 70%;
    }

    /* Project */

    /* Service */

    #service .service-content{
        display: none;
    }

    #service .service-content-1{
        display: block;
        width: 50%;
        height: 90vh;
        translate: 1% 5%;
        text-align: justify;
        color: #fff;
    }

    #service .service-content-1 h1{
        font-size: 3em;
    }

    #service .service-content-1 p{
        font-size: 1.1em;
        font-weight: 600;
    }

    #service img{
        display: none;
    }

    #service .img{
        position: absolute;
        top: 17%;
        right: 3%;
        width: 45%;
        height: 70%;
        border: solid;
    }

    .img .slide{
        position: absolute;
        left: 20%;
        bottom: 0;
        width: 0;
        height: 15%;
        transition: all .50s linear;
        background: #fff;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

    }

    .slide i{
        color: #000;
        font-size: 2em;
    }

    .img .slide-icon{
        position: absolute;
        bottom: 0;
        width: 20%;
        height: 15%;
        background: #fff;
    }

    .slide-icon i{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em;
    }


    .img:hover .slide{
        width: 80%;
    }

    /* Service */
}


@media (max-width:340px){
    /* Header */
    #header nav{
        width: 90%;
        top: 110%;
        left: 5%;
    }
    /* Header */


    /* Home */

    #home .home-head-img{
        display: block;
        width: 70%;
        height: 35%;
        top: 1%;
        border-radius: 50%;
        border: solid;
    }

    .home-head-img img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    #home .home-left{
        width: 100%;
        position: absolute;
        top: 36%;
    }

    #home h2{
        font-size: 2em;
    }

    #home .social-media{
        width: 40%;
    }

    #home img{
        display: none;
    }
    /* Home */
}